@import 'themes/light';
@import 'themes/dark';
@import 'variables/global';

* {
    margin: 0;
    padding: 0;
}

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
}